Преподаватель: Константин Башевой
Домашнее задание

Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [13]:
def rating_classificator(row):
    param = row['rating']
    """This function classificate film rating"""
    if param <=2:
        return "низкий рейтинг"
    elif 4 >= param > 2:
        return "средний рейтинг"
    elif param == 4.5 or param == 5: 
        return "высокий рейтинг"
    else:
        return "Рейтинг за границами оценки. Проверьте данные"

In [14]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
ratings.head()
# stats = pd.read_excel('ratings.xls')
# stats.columns = ['group', 'phrase', 'effect', 'ad_id', 'title', 'text', 'link']
# stats.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [19]:
ratings['class'] = ratings.apply(rating_classificator, axis=1)
ratings.head(15)

    userId  movieId  rating  timestamp            class
0        1        1     4.0  964982703  средний рейтинг
1        1        3     4.0  964981247  средний рейтинг
2        1        6     4.0  964982224  средний рейтинг
3        1       47     5.0  964983815  высокий рейтинг
4        1       50     5.0  964982931  высокий рейтинг
5        1       70     3.0  964982400  средний рейтинг
6        1      101     5.0  964980868  высокий рейтинг
7        1      110     4.0  964982176  средний рейтинг
8        1      151     5.0  964984041  высокий рейтинг
9        1      157     5.0  964984100  высокий рейтинг
10       1      163     5.0  964983650  высокий рейтинг
11       1      216     5.0  964981208  высокий рейтинг
12       1      223     3.0  964980985  средний рейтинг
13       1      231     5.0  964981179  высокий рейтинг
14       1      235     4.0  964980908  средний рейтинг

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [125]:
def geo_classificator(row):
    """This function classificate keyword to region"""
#     param = lemmatization()
# Эта функция крайне тормозит выполнение скрипта. 
#  Поэтому исключил ее из Кода исходя из того, что Ключевые слова скорее всего уже нормализованы

    param = row['keyword'].lower().strip().split(' ')
    
    geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }
    key_str = ''
    for keys, values in geo_data.items():
        result =  any(elem in param for elem in values)
        if result == True:
            key_str +=keys
        
    if key_str == '':
        key_str = 'undefined'
    
    return key_str

In [87]:
def lemmatization(string):
# Эта функция крайне тормозит выполнение скрипта. 
#  Поэтому исключил ее из Кода исходя из того, что Ключевые слова скорее всего уже нормализованы
    from pymystem3 import Mystem
    listFromString = string.lower().strip().split(' ')
    listFromString
    m = Mystem()
    lemmList = []
    for lstFrSt in listFromString:
        lemmList += m.lemmatize(lstFrSt)

    #Удаление переносов строки
    lemmList = [x for x in lemmList if x != '\n']
    return lemmList

In [126]:
import pandas as pd
keywords = pd.read_csv('keywords.csv')[2150:2160]
#NOTE: select exectly part of DataFrame to check algoritm's work
keywords['region'] = keywords.apply(geo_classificator, axis=1)
keywords

                                                keyword   shows        region
2150                             шерлок смотреть онлайн  113641     undefined
2151                                             мосрег   97964     undefined
2152                                                 рр   97745     undefined
2153                                        авито псков   98931  Северо-Запад
2154                                     порно в чулках  100259     undefined
2155                                        макдональдс   97630     undefined
2156                                               0629   97628     undefined
2157                                          dojki com   97595     undefined
2158                              смотреть фильм онлайн  138904     undefined
2159  пасьянсы онлайн косынка паук коврик и другие и...   97135     undefined

Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

Сделаю на следующем занятии, когда будем проходить JOIN